VITE_API=http://localhost:5000
VITE_STRIPE_PUBLISH_KEY= pk_test_51QFy9cInuD6KOEGJxhDDIgarszNmw6Y6Xx8sq2PItLP1uf3WRnCBSdfx2881sXP8UhsvU2KuULP6H8s36b3MBrku00jJ7brdWB
VITE_STRIPE_SECRET_KEY=  sk_test_51QFy9cInuD6KOEGJSctf3Z27QCRa5FgTCxuknjK3Med92tIUwSHuAxi2M20CiNIcj97TC7PLdg7A6GjNnzOJVr6l00y7A9bsOT
VITE_SERVER_URL= http://localhost:5000
